.navbar{
    display: flex;
    justify-content: space-between;
    height: 80px;
}

.menu-list{
    display: flex;
    margin-right: 40px;
    
    margin-top: 0px;
    list-style: none;
}

.logo{
    padding: 0px 40px;
    font-size: 35px;
    line-height: 80px;
}

.menu-item{
    font-size: 18px;
    margin: 0px 10px;
    line-height: 80px;
    width: max-content;
}

.menu-item-link:hover{
    background-color: aqua;
    
}

.menu-item-link{
    color: #fff;
    text-decoration: none;
}

